/* 
    // Have to modify;

    Hover: 
        background-color: #CCCCCC;
    Active-Link: 
        color: white;
        background-color: #04AA6D;
*/

.navigation > nav > a:hover {
    color: white;
    background-color: #04AA6D;
}
