.auth-width {
    width: 500px;
}
.form-width {
    padding: 0 48px;
}

@media only screen and (max-width: 600px){
    .auth-width {
        width: 300px;
    }
}
@media only screen and (max-width: 350px){
    .auth-width {
        width: 200px;
    }
    .form-width {
        padding: 0 10px;
    }
}