mark {
    border-radius: 5px;
}

/* hover effect on Content list for individual Tutorial */
.home-hover > div > a:hover {
    background-color: #CCCCCC;
}

/* clipboard style are used to display the code properly */
.clipboard, .clipboard-terminal {
    background-color: #eee;
    display: block;
    padding: 20px;
    border-radius: 5px;
}
.clipboard > pre {
    background-color: white;
    border-left: 5px solid #04AA6D;
    padding: 10px;
}
.clipboard-terminal > pre {
    background-color: #000000;
    border-left: 5px solid #04AA6D;
    color: #eee;
    padding: 10px;
}
.clipboard-error {
    background-color: #FFDDDD;
    display: block;
    padding: 20px;
    border-radius: 5px;
}
.clipboard-error > pre {
    background-color: white;
    border-left: 5px solid #F44336;
    padding: 10px;
}